{% verbatim %}


<div id="div1">
	<card>
		<card-body>
			<table class="table table-sm table-hover">
				<thead>
					<tr>
						<td></td>
						<td v-for="ug in usergroups" v-text="ug.name"></td>
					</tr>
				</thead>
				<tbody>
					<tr v-for="ul in uls">
						<td v-text="ul.name"></td>
						<td v-for="ug in usergroups">
							<el-checkbox :value="isUserGroup(ul,ug)" @change="onClickUserGroup(ul,ug,$event)">
							</el-checkbox>
						</td>
					</tr>
				</tbody>

			</table>
		</card-body>

	</card>
</div>


<script>
	var vm = new Vue({
		el: "#div1",
		data: {
			usergroups: [],
			uls: []
		}, created() {
			this.reload();
		}, methods: {
			reload() {
				this.$http.get("UserGroup/ae_user/data").then(resp => {
					return resp.data;
				}).then(resp => {
					console.log(resp);
					this.usergroups = resp.usergroups;
					this.uls = resp.uls;

				});
			},
			isUserGroup(user, usergroup) {
				if (user.usergroup_id.indexOf(usergroup.usergroup_id) >= 0) {
					return true;
				}
				return false;
			}, onClickUserGroup(user, usergroup, e) {
				if (e) {

					this.$gql.mutation("api", {
						UserGroup: {
							__args: {
								usergroup_id: usergroup.usergroup_id
							},
							addUser: {
								__args: {
									user_id: user.user_id
								}
							}
						}
					}).then(resp => {
						if (resp.data.error) {
							alert(resp.data.error.message);
						}
						this.reload();
					});
				} else {
					this.$gql.mutation("api", {
						UserGroup: {
							__args: {
								usergroup_id: usergroup.usergroup_id
							},
							removeUser: {
								__args: {
									user_id: user.user_id
								}
							}
						}
					}).then(resp => {
						if (resp.data.error) {
							alert(resp.data.error.message);
						}
						this.reload();
					});
				}

			}
		}
	})
</script>
{% endverbatim %}