<div id="div1">
    <card>
        <card-body>
            <el-form label-width="auto">
                <el-form-item label="Module">
                    <el-select v-model="module" clearable>
                        <el-option v-for="m in modules" :value="m" :label="m.name"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="User group">
                    <el-select v-model="usergroup" @change="changeUserGroup" clearable>
                        <el-option v-for="ug in usergroups" :value="ug" :label="ug.name"></el-option>
                    </el-select>
                </el-form-item>


                <el-form-item label="User">
                    <el-select v-model="user" @change="changeUser" clearable>
                        <el-option v-for="u in users" :value="u"
                            :label="u.first_name + ' ' + u.last_name + ' (' + u.username + ')'"></el-option>
                    </el-select>
                </el-form-item>

                <el-form-item label="SPECIAL USER" clearable>
                    <el-select v-model="special_user" @change="changeSpecialUser">
                        <el-option v-for="(k,v) in special_users" :value="v" :label="k"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>


            <table class="table table-sm" v-if="data1.action">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Allow</th>
                        <th>Deny</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(a,index) in data1.action">
                        <td v-text="a.action"></td>
                        <td>
                            <el-checkbox v-model="a.allow" @change="actionChecked(a)"></el-checkbox>
                        </td>
                        <td>
                            <el-checkbox v-model="a.deny" @change="actionChecked(a)"></el-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm" v-if="data1.path">
                <thead>
                    <tr>
                        <th>Path</th>
                        <th>Allow</th>
                        <th>Deny</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(a,index) in data1.path">
                        <td v-text="a.path"></td>
                        <td>
                            <el-checkbox v-model="a.allow" @change="actionChecked(a)"></el-checkbox>
                        </td>
                        <td>
                            <el-checkbox v-model="a.deny" @change="actionChecked(a)"></el-checkbox>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-sm" v-if="allowAddCustom()">
                <thead>
                    <tr>
                        <th><button class="btn btn-xs btn-primary" @click="custom={allow:1,deny:0}"><i
                                    class="fa fa-fw fa-plus"></i></button></th>
                        <th>Path</th>
                        <th>Allow</th>
                        <th>Deny</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-if="custom">
                        <td><button @click.prevent="onSaveCustom" class="btn btn-xs btn-success"><i
                                    class="fa fa-fw fa-check"></i></button>
                            <button @click.prevent="custom=null" class="btn btn-xs btn-warning"><i
                                    class="fa fa-fw fa-undo"></i></button></td>
                        <td>
                            <el-input v-model="custom.path"></el-input>
                        </td>
                        <td>
                            <el-checkbox v-model="custom.allow"></el-checkbox>
                        </td>
                        <td>
                            <el-checkbox v-model="custom.deny"></el-checkbox>
                        </td>

                    </tr>
                    <tr v-for="a in data1.custom">
                        <td><button @click.prevent="delAction(a)" class="btn btn-xs btn-danger"><i
                                    class="fa fa-fw fa-times"></i></button></td>
                        <td v-text="a.path"></td>
                        <td>
                            <div class="icheck-primary d-inline ml-2">
                                <input type="checkbox" value="">
                            </div>

                            <!-- icheck v-model="a.allow" @input="actionChecked(a)" value="1"></icheck -->
                        </td>
                        <td>
                            <!-- icheck v-model="a.deny" @input="actionChecked(a)" value="1"></icheck -->
                        </td>
                    </tr>
                </tbody>
            </table>
        </card-body>
    </card>
</div>

<script>
    var vm = new Vue({
        el: "#div1",
        data: {
            custom: null,
            module: null,
            modules: [],
            usergroups: [],
            users: [],
            usergroup: null,
            user: null,
            data1: [],
            special_users: [],
            special_user: null
        },
        created() {
            this.$http.get(window.location + "/data").then(resp => {
                this.modules = resp.data.module;
                this.usergroups = resp.data.usergroup;
                this.users = resp.data.user;
                this.special_users = resp.data.special_user;
            });
        }, watch: {
            module() {
                this.getValue();
            }
        }, methods: {
            allowAddCustom() {
                if (this.user) return true;
                if (this.usergroup) return true;

                return false;

            },
            actionChecked(a) {
                let p = {};
                if (this.module) {
                    p.module = this.module.name;
                }

                if (this.usergroup) {
                    p.usergroup_id = this.usergroup.usergroup_id
                }

                if (this.user) {
                    p.user_id = this.user.user_id;
                }

                if (this.special_user) {
                    p.special_user = this.special_user;
                }

                p.value = a;
                return this.$http.post(window.location.toString(), p);
            },
            getValue() {
                let p = {};
                if (this.module) {
                    p.module = this.module.name;
                }

                if (this.usergroup) {
                    p.usergroup_id = this.usergroup.usergroup_id
                }

                if (this.user) {
                    p.user_id = this.user.user_id;
                }

                if (this.special_user) {
                    p.special_user = this.special_user;
                }

                this.$http.get(window.location + "/getValue", {
                    params: p
                }).then(resp => {
                    this.data1 = resp.data;
                });

            },
            changeSpecialUser() {
                this.user = null;
                this.usergroup = null;
                this.getValue();
            },
            changeUserGroup() {
                this.user = null;
                this.special_user = null;
                this.getValue();
            }, changeUser() {
                this.usergroup = null;
                this.special_user = null;
                this.getValue();
            }, onSaveCustom() {
                this.actionChecked(this.custom).then(resp => {
                    this.custom = null;
                    this.getValue();
                });

            }, delAction(a) {
                let p = {};
                if (this.module) {
                    p.module = this.module.name;
                }

                if (this.usergroup) {
                    p.usergroup_id = this.usergroup.usergroup_id
                }

                if (this.user) {
                    p.user_id = this.user.user_id;
                }

                p.value = a;

                this.$http.post(window.location + "/delACL", p).then(resp => {
                    this.getValue();
                });
            }

        }

    });
</script>