<div is="alt-box">

    <div is="alt-box-body">
        <table id="table1">
            <thead>
                <tr>
                    <th>A</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script>

    document.addEventListener("DOMContentLoaded", () => {
        $("#table1").DataTable({
            scrollY: 200,
            scroller: true
        });
    });


</script>