<!-- script src="//unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
<script src="//unpkg.com/element-ui"></script-->
<!--script src="//unpkg.com/element-ui/lib/umd/locale/en.js"></script -->

<div id="app">

    <el-select v-model="value" placeholder="Select">
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
    </el-select>
</div>

<script>

    new Vue({
        el: "#app",
        data: {
            value: "",
            options: []
        }
    });

</script>