{% verbatim %}


<div id="app">
    <card>
        <card-body>
            abc
            {{input_id}}
        </card-body>
    </card>
</div>
{% endverbatim %}
<script>

    const router = new VueRouter({
        routes: [
            { path: "/:input_id" }
        ]
    });
    new Vue({
        router,
        el: "#app",
        data() {
            return {
                input_id: this.$route.params.input_id
            }
        }
    });
</script>