<div id="div1">

    <form method="post">


        <card>
            <card-body>
                <date-picker name="date1" value="2020-04-23"></date-picker>
            </card-body>
        </card>

        <button type="submit">submit</button>
    </form>


    <!-- el-date-picker name="date1" format="yyyy-MM-dd"></el-date-picker>
    <el-input placeholder="pleae input" v-model="input1"></el-input>
    <el-input-number v-model="num" @change="handleChange" :min="-999" :max="10"></el-input-number>
    <el-select v-model="value" placeholder="Select" filterable>
        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
        </el-option>
    </el-select -->
</div>