<input id="d1" data-provide="datepicker"/>
<script>

    $(() => {
        //$('#d1').datetimepicker();
    });
</script>

<a data-fancybox="gallery" href="big_1.jpg">
    <img src="small_1.jpg">
</a>

<a data-fancybox="gallery" href="big_2.jpg">
    <img src="small_2.jpg">
</a>