<div id="div1">
    <el-button type="info">submit</el-button>
    <el-button type="danger">submit</el-button>
    <el-button type="warning">submit</el-button>
    <el-button type="primary">submit</el-button>
    <el-button type="success">submit</el-button>
</div>

<script>
    var vm = new Vue({
        el: "#div1"
    });
</script>