<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"></script>
<script src="/alt3/pages/Fileman/alt-fileman/dist/fileman.umd.js"></script>
<link rel="stylesheet" href="/alt3/pages/Fileman/alt-fileman/dist/fileman.css">


<div id="div1">
    <a-fileman></a-fileman>
</div>
<script>
    Vue.component("a-fileman", window.fileman.default);
    var vm = new Vue({
        el: "#div1",
    });
</script>