<html>

<head>
    <script src="{{system_base}}/plugins/ace/src-min-noconflict/ace.js"></script>
    <script src="{{system_base}}/plugins/ace/src-min-noconflict/ext-beautify.js"></script>
</head>
<style type="text/css" media="screen">
    #editor {
        position: absolute;
        top: 20;
        right: 0;
        bottom: 0;
        left: 0;
    }
</style>


<body>

    <div>
        <button onclick="onBeautify()">Beautify</button>
    </div>
    <pre id="editor"></pre>

    <script>
        var editor;

        window.addEventListener("message", evt => {
            var data = evt.data;

            switch (data.action) {
                case "setContent":
                    document.getElementById("editor").innerHTML = escapeHtml(data.content);
                    editor = ace.edit("editor");
                    //editor.setTheme("ace/theme/monokai");
                    editor.session.setMode("ace/mode/html");
                    break;
                case "getContentAndClose":
                    window.parent.postMessage({
                        mceAction: "setContent",
                        content: editor.getValue()
                    });
                    window.parent.postMessage({
                        mceAction: "close"
                    });
                    break;
            }
        }, false);

        window.parent.postMessage({
            mceAction: "getContent"
        }, origin);

        function escapeHtml(text) {
            var map = {
                '&': '&amp;',
                '<': '&lt;',
                '>': '&gt;',
                '"': '&quot;',
                "'": '&#039;'
            };

            return text.replace(/[&<>"']/g, function (m) { return map[m]; });
        }

        function onBeautify() {
            var beautify = ace.require("ace/ext/beautify");
            beautify.beautify(editor.session);
        }

    </script>
</body>

</html>