<div id="div1">
	<card primary outline ref="box1">
		<card-header>
			PHP Unit test
		</card-header>
		<card-body>
			<div v-text="content" style="white-space:pre">

			</div>
		</card-body>
		<card-footer>
			<button class="btn btn-primary" @click="run">Run</button>
		</card-footer>
	</card>
</div>
<script>

	new Vue({
		el: "#div1",
		data: {
			content: ""
		},
		methods: {
			run() {
				this.$refs.box1.showLoading();
				this.$http.get("System/phpunit/run").then(resp => {
					this.$refs.box1.hideLoading();
					this.content = resp.body.content;
				});
			}
		}
	});
</script>