
<div class="row" id="div1">
    <div class="col-md-2">
        {{left_box|raw}}
    </div>

    <div class="col">
        {{content|raw}}
    </div>

</div>
<script>
    var vm=new Vue({
        el:"#div1"
    });
</script>